<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.15.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Doc</title>
    <style>
        .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <!-- Back to top button -->
    <a id="button"><i class="fas fa-angle-up fa-3x text-white"></i></a>

    <!-- Navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container"><a href="#" class="navbar-brand font-weight-bold">CodeNime</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home
                                <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Our Team</a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Github</a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- For demo purpose -->
    <div class="container">

        <div class="wrapper mb-5">
            <div class="container">
                <section style="margin-top:7em" id="artikel">
                    <div class="container-fluids">
                        <div class="row">
                            <div class="card col-lg-8 col-sm-12 col-sm-5 col-md-6 col-12 pb-4">
                                <div class="card-body p-3">
                                    <p>Wibucode <small>19 Dec 2020</small></p>
                                    <h2 class="font-weight-bold">Posts</h2>
                                    <hr>
                                    <div></div><br><br>
                                    <center>
                                        <div><img class="img-fluid" src="/img/bocchi4-450x300.jpg" alt="" srcset="">
                                        </div>
                                    </center><br><br>
                                </div><br><br><br><br>
                                <hr>
                                <div id="disqus_thread"><iframe id="dsq-app7971" name="dsq-app7971"
                                        allowtransparency="true" frameborder="0" scrolling="no" tabindex="0"
                                        title="Disqus" width="100%"
                                        src="https://disqus.com/embed/comments/?base=default&amp;f=wibucode&amp;t_u=https%3A%2F%2Fdemo-hugo-wibucode.onrender.com%2Fproject%2Fposts%2F&amp;t_d=Posts&amp;t_t=Posts&amp;s_o=default#version=339ad07906d77081022b4931292cb95a"
                                        style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 641px !important;"
                                        horizontalscrolling="no" verticalscrolling="no"></iframe><iframe
                                        id="indicator-north" name="indicator-north" allowtransparency="true"
                                        frameborder="0" scrolling="no" tabindex="0" title="Disqus"
                                        style="width: 728px !important; border: none !important; overflow: hidden !important; top: 0px !important; min-width: 728px !important; max-width: 728px !important; position: fixed !important; z-index: 2147483646 !important; height: 0px !important; min-height: 0px !important; max-height: 0px !important; display: none !important;"></iframe><iframe
                                        id="indicator-south" name="indicator-south" allowtransparency="true"
                                        frameborder="0" scrolling="no" tabindex="0" title="Disqus"
                                        style="width: 728px !important; border: none !important; overflow: hidden !important; bottom: 0px !important; min-width: 728px !important; max-width: 728px !important; position: fixed !important; z-index: 2147483646 !important; height: 0px !important; min-height: 0px !important; max-height: 0px !important; display: none !important;"></iframe>
                                </div>
                                <script>(function () { var a = document, b = a.createElement('script'); b.src = 'https://wibucode.disqus.com/embed.js', b.setAttribute('data-timestamp', +new Date), (a.head || a.body).appendChild(b) })()</script>
                                <noscript>Please enable JavaScript to view the <a
                                        href=https://disqus.com/?ref_noscript>comments powered by Disqus.</a></noscript>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                            
                                <div class="card mb-5 mt-5">
                                    <div class="card-body"><span class="font-weight-bold">News Later</span><br>Dapatkan
                                        Informasi serta berita terbaru dari kami<br><br><br>
                                        <form>
                                            <div class="form-group"><label class="font-weight-bold" for="">Nama</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group"><label class="font-weight-bold" for="">Email</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <center><button type="submit" class="btn btn-info">Kirim</button></center>
                                        </form>
                                    </div>
                                </div>
                                <div class="mb-5"><img src="/img/ad1.png" alt="" srcset=""></div>
                                <div class="card mb-5">
                                    <div class="card-header">Kategori</div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a class="text-dark"
                                                href="/categories/front-end">front-end</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

    <!-- Site Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About US</h6>
                    <p class="text-justify"><strong>CodeNime</strong> Merupakan Komunitas yang isinya di khususkan untuk
                        mempelajari tentang teknologi dan IT. Kami terbuka untuk siapapun yang ingin menjadi bagian dari
                        <strong>CodeNime</strong>, Baik itu membuat artikel atau yang lainnya.<br><br>Saat ini masih
                        sedikit artikel
                        yang tersedia, seiring berjalannya waktu pasti semakin banyak artikel disini! Walaupun Visitor
                        juga masih
                        dikit... :)
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Category</h6>
                    <ul class="footer-links">
                        <li><a href="/html-css">HTML & CSS</a></li>
                        <li><a href="/games">Artikel Game</a></li>
                        <li><a href="/tips">Tips Coding</a></li>
                        <li><a href="/linux">Linux</a></li>
                        <li><a href="/tech">All About Tech</a></li>
                    </ul>
                </div>


                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="mailto:mail@codenime.xyz">Contact Us</a></li>
                        <li><a href="/request">Request Artikel</a></li>
                        <li><a href="/team">Our Team</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                        <a href="#">CodeNime</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="instagram" href="/instagram" target="__blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li><a class="discord" href="/discord" target="__blank"><i class="fab fa-discord"></i></a></li>
                        <li><a class="github" href="/github" target="__blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</html>