<!DOCTYPE html>
<html lang="en">

<head>
	<script data-ad-client="ca-pub-5180333960272269" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
	</script>

  <link rel="stylesheet" href="css/loading.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/image/logo2.png">
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.0/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.15.0/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" />
	<title>CodeNime - Home</title>
	<style>
		.card {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<!-- Back to top button -->
	<a id="button"><i class="fas fa-angle-up fa-3x text-white"></i></a>
 
   <!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="/" class="navbar-brand font-weight-bold">CodeNime</a>
        
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i id="navbutton" class="fa fa-bars text-white"></i></button>
        
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="/tags" class="nav-link text-uppercase font-weight-bold" onClick="preloader(true, 'black', 'red');">Tags</a></li>
                    <li class="nav-item"><a href="#article" class="nav-link text-uppercase font-weight-bold">Artikel</a></li>
            <li class="nav-item"><a href="/project" class="nav-link text-uppercase font-weight-bold" onClick="preloader(true, 'black', 'red');">Project</a></li>
                    <li class="nav-item"><a href="mailto:contact@codenime.xyz" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- For demo purpose -->

   
        <header class="jumbotron jumbotron-fluid text-white m-0" style="background-color: #1a2634;">
          <div class="container">
  
    <div class="pt-5 text-left">
      <div class="row d-flex justify-content-around mx-auto">
        <div class="col-lg-6 col-md-8 py-lg-5 mx-auto text-center text-lg-left">
    
            <h1 class="display-5 ml-2" style="margin-top: 4rem;" data-aos="fade-right" data-aos-once="true"><b>CodeNime</b></h1>

            <p class="text-white fz-17 mb-20 ml-2" data-aos="fade-right" data-aos-once="true">Belajar coding dan hal lainnya tentang IT disini...<br>Yang pastinya mudah di pahami dan menambah wawasan!<br><br><STRONG>WORK IN PROGRESS</STRONG></p>
        </div>
     <div class="col-lg-6 d-none d-lg-block" data-aos="zoom-in" data-aos-once="true">
            <img src="/image/work-from-home.svg" class="logo mr-2 rounded mx-auto d-block vert-move" alt="Work From Home" style="width: 34rem;">
     </div>
       </div>


       
<br>
  <br>
      <br>
         <br>
            <br>
        </header>
        <br><br>
        <div id="article">
        <h1 class="display-5 center" data-aos="fade-up" data-aos-once="true">Artikel Terbaru</h1>
        <p class="center fz-17" data-aos="fade-up" data-aos-once="true">Artikel Terbaru Di CodeNime</p>
        </div>
        <div class="row d-flex mx-auto justify-content-center">

  
  <!-- card start -->
<div class="py-2" data-aos="zoom-in-up" data-aos-once="true">
            <div class="card m-10 shadow-sm hvr-grow card-shadow rounded p-3" style="width: 18rem;">
              <a href="/base" class="text-decoration-none" onClick="preloader(true, 'black', 'red');">
 <picture class="card-image mb-3">
				<img class="lazyload rounded lazyloaded img-fluid mb-3" src="image/coding.jpg" data-src="image/coding.jpg" data-sizes="auto" alt="Base Artikel">
</picture>
              </a>
              <div class="card-body">
              <a href="/base" class="text-decoration-none" onClick="preloader(true, 'black', 'red');">
                <h6 class="card-title h6 text-info">Masih Di Kerjain Ini Cuma Example</h6>
                <p class="card-text text-secondary small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus, tempore iusto dignissimos ...</p>
                </a>
              </div>
            </div>
      </div> 
<!-- card end -->



     </div>
     <br>
     <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></i></a></li>
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
          <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li> -->
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-right"></i></a></li>
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-right"></i></a></li>
        </ul>
      </nav>
     
      <br>
      <br>
     
    </div>
    
</div>



</div>

<!-- Site Footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About US</h6>
          <p class="text-justify"><strong>CodeNime</strong> Merupakan Komunitas yang isinya di khususkan untuk mempelajari tentang teknologi dan IT. Kami terbuka untuk siapapun yang ingin menjadi bagian dari <strong>CodeNime</strong>, Baik itu membuat artikel atau yang lainnya.<br><br>Saat ini masih sedikit artikel yang tersedia, seiring berjalannya waktu pasti semakin banyak artikel disini! Walaupun Visitor juga masih dikit... :)</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Category</h6>
          <ul class="footer-links">
            <li><a href="/html-css">HTML & CSS</a></li>
            <li><a href="/games">Artikel Game</a></li>
            <li><a href="/tips">Tips Coding</a></li>
            <li><a href="/linux">Linux</a></li>
            <li><a href="/tech">All About Tech</a></li>
          </ul>
        </div>


        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/about">About Us</a></li>
            <li><a href="mailto:contact@codenime.xyz">Contact Us</a></li>
            <li><a href="/request">Request Artikel</a></li>
            <li><a href="/team">Our Team</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="/"><strong>CodeNime</strong></a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="instagram" href="/instagram" target="__blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="facebook" href="/facebook" target="__blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="discord" href="/discord" target="__blank"><i class="fab fa-discord"></i></a></li>
            <li><a class="github" href="/github" target="__blank"><i class="fab fa-github"></i></a></li>  
          </ul>
        </div>
      </div>
    </div>
</footer>
</body>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/preloader.js"></script>
</html>
